@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* MOBILE FIRST */

:root {
    --white:#ffffff;
    --black: #111111;
    --light-black: #1b1b1b;
    --light-gray: #414141;
    --blue: #00b7ff;
    --gray: #292929;

    --font-titulo: 'Kanit', sans-serif;
    --font-padrao: 'Open Sans', sans-serif;
    --font-logo: 'Macondo', cursive;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-padrao)
}

html, body {
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: var(--light-black);
}

.logo {
    font-family: var(--font-logo);
    font-size: 2.5em;
    color: var(--blue);
    cursor: default;
}

span#burguer {
    display: block;
    font-size: 2em;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
}

span#burguer:hover {
    background-color: var(--light-gray);
    color: var(--blue);
}

nav {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul > li a {
    display: block;
    border-top: 2px solid var(--light-gray);
    font-weight: 700;
    color: white;
    padding: 10px;
}

nav ul > li a:hover {
    background-color: var(--light-gray);
    color: var(--blue);
}

/* Main */

/* Inicio */

section.inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 200px 0px;
    background-color: var(--black);
}

div.titulo > h1 {
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 2em;
    font-weight: 300;
    color: var(--white);
}

div.titulo > h1 > span.nome {
    color: var(--blue);
    font-size: 1.5em;
    font-weight: 400;
}

div.botao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

div.botao > a {
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
}

div.botao > a:hover {
    background-color: var(--light-black);
    color: var(--blue);
}

section.inicio > div > img {
    display: none;
}

/* Sobre */

section.sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: var(--gray);
    color: var(--white);
}

section.sobre > div.descricao {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 80%;
    text-align: center;
}

section.sobre > div.descricao > h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 40px;
}

section.sobre > img {
    display: none;
}

/* Projetos */

section.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    background-color: var(--black);
    color: var(--white);
}

section.projetos > h2 {
    font-size: 2em;
    padding: 20px;
    margin-bottom: 40px;
}

div.thumb-projetos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 80px;
}

div.thumb-projetos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div.thumb-projetos > div > img {
    width: 100%;
    height: 200px;
    border-left: 5px solid var(--blue);
    border-radius: 2px;
}

a.btn-visualizar {
    padding: 10px 40px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    color: var(--white);
}

a.btn-visualizar:hover {
    background-color: var(--gray);
    color: var(--blue);
}

/* Habilidades */

section.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--gray);
    color: var(--white);
    padding: 50px;
}

section.habilidades > h2 {
    font-size: 2em;
}

section.habilidades > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.habilidades > div > img {
    width: 100px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 50px;
    font-size: 1.2em;
}

div.creditos > a {
    color: var(--blue);
}