@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
}

:root {
    --color-midblue: #5353BD;
    --color-darkblue: #313170;
    --color-extradarkblue: #1C1C40;
    --color-lightgray: #9F9FBF;
    --color-gray: #66668A;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: sticky;
    top: 0px;
    overflow: hidden;

    background-color: lightblue;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 25px;
    width: 100%;
}

.logo {
    font-size: 2em;
    text-transform: uppercase;
    color: dodgerblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

nav ul li > a {
    color: white;
    padding: 5px;
}

/* Main */
.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}